body {
    background-color: rgb(24, 24, 24);
    font-family: "Press Start 2P", system-ui;
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    pointer-events: none;
}

a {
    -webkit-user-drag: none;
}

h1, h2, h3, p {
    color: white;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Lexend", sans-serif;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

a {
    color: mediumspringgreen;
    text-decoration: none;
}

.link {
    transition: 0.2s ease;
}

.link-left:hover {
    transform: scale(1.2) rotate(7deg);
}

.link-right:hover {
    transform: scale(1.2) rotate(-7deg);
}

#main-div {
    text-align: center;
    height: 100vh;
}